<div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1" (click)="open()">
    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
    </div>
    <img class="img-fluid" src="{{info.image}}" alt="{{info.title}}"/>
</div>
<div *ngIf="isAdmin" class="d-flex justify-content-center">
    <button class="btn btn-warning" routerLink="/editar/{{info.id}}"><i class="far fa-edit"></i> Editar</button>
    <button class="btn btn-danger" (click)="borrar()"><i class="far fa-trash-alt"></i> Eliminar</button>
</div>
