<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Localidad</h4>
                <p class="lead mb-0">
                    {{datos.localidad}}
                    <br>
                    {{datos.calle}}, ------
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Languajes</h4>
                <p class="lead mb-0">
                    {{datos.lenguajes}}
                </p>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 mb-lg-0">
                <h4 class="text-uppercase mb-4">Acerca del Portfolio</h4>
                <p class="lead mb-0">
                    Creado a partir del material, las clases, videos y la ayuda de los profesores del curso YOPROGRAMO 3.0 de
                    <a href="https://www.argentina.gob.ar/latiendo/queres-capacitarte-y-estudiar/argentina-programa" target="_blank">Argentina Programa</a>.
                </p>
            </div>
        </div>
    </div>
</footer>