<div class="login-box" [style]="SignVisibility">
  <h2>Signup</h2>
  <!-- (ngSubmit)="submitForm()"-->
      <form  autocomplete="off" >
        <div class="user-box">
          <input type="text" name="username" placeholder="username"  [(ngModel)]= "signupObj.email">
          <label>Username</label>         
        </div>
        <div class="user-box">
          <input type="text" name="email"  placeholder="email"  [(ngModel)]= "signupObj.email">
          <label>Email</label>         
        </div>
        <div class="user-box">
          <input type="password" name="password"  placeholder="password" [(ngModel)]= "signupObj.password">
          <label>Password</label>
        </div>
        <button (click)="onSignup()" class=" x">
          <!-- type="submit"-->
            Signup
        </button>
      </form>  
</div>

<div class="login-box" [style]="LogVisibility" >
  <h2>Login</h2>
  <!-- (ngSubmit)="submitForm()"-->
      <form  autocomplete="off">
        <div class="user-box">
          <input type="text" name="username" id="nombreUsuario"  placeholder="email" [(ngModel)]= "loginObj.email">
          <label>Username</label>         
        </div>
        <div class="user-box">
          <input type="password" name="password" id="password"  placeholder="password" [(ngModel)]= "loginObj.password">
          <label>Password</label>
        </div>
        <button (click)="onLogin()" class=" x">
          <!-- type="submit"-->
            Login
        </button>
      </form>
      
</div>


