<app-navbar></app-navbar>
<div class="text-white font-weight-bold" style="margin-top: 150px;" *ngIf="data">
    <div class="container">
        <form (ngSubmit)="onUpdate()" style="padding-left: 150px; padding-right: 150px;" novalidate #f="ngForm">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="data.title" required>
            </div>
            <div class="form-group">
                <label for="img">URL Imagen</label>
                <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="data.image" required>
            </div>
            <div class="form-group">
                <label for="desc">Descripcion</label>
                <textarea type="text" class="form-control" id="desc" name="descripcion" [(ngModel)]="data.description"
                    required></textarea>
            </div>
            <div class="selectInput">
                <div class="form-group text-center">
                    <label for="estado">Estado</label>
                    <select name="state" class="select-css" id="state" required>
                        <option value="Finalizado">Finalizado</option>
                        <option value="En Curso">En Curso</option>
                    </select>
                </div>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <div class="form-group text-center">
                    <label for="precio">Tipo</label>

                    <select name="type" class="select-css" id="type" required>
                        <option value="proyect">Proyecto</option>
                        <option value="exp">Experiencia</option>
                        <option value="formacion">Formacion Academica</option>
                    </select>
                </div>
            </div>


            <div class="botones">
                <button class="btn btn-success" type="submit" [disabled]="!f.valid">
                    <i class="fas fa-pencil-alt"></i> Actualizar</button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <button type="button" class="btn btn-danger" routerLink="/home">
                    <i class="fas fa-arrow-alt-circle-left"></i> Cancelar</button>
            </div>
        </form>
    </div>
</div>