<app-navbar></app-navbar>
<div class="text-white font-weight-bold" style="margin-top: 150px;">
    <div class="container">
    <form (ngSubmit)="onCreate()" style="padding-left: 150px; padding-right: 150px;" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                </div>
                <div class="form-group">
                    <label for="precio">URL Imagen</label>
                    <input type="text" class="form-control" id="imagen" name="imagen" required>
                </div>
                <div class="form-group">
                    <label for="precio">Descripcion</label>
                    <textarea type="text" class="form-control" id="desc" name="descripcion" required></textarea>
                </div>
                
                <div class="form-group text-center">
                    <label for="precio">Estado</label>
                <select name="state" class="select-css" id="state" required>
                    <option value="Finalizado">Finalizado</option>
                    <option value="En Curso">En Curso</option>
                </select>
                </div>
                <div class="botones text-center">
                    <button class="btn btn-success btn-block" type="submit" [disabled]="!f.valid">
                        <i class="fas fa-pencil-alt"></i> Nuevo</button>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button type="button" class="btn btn-danger btn-block" routerLink="/home">
                        <i class="fas fa-arrow-alt-circle-left"></i> Cancelar</button>
                </div>
            </form>
    </div>
</div>